
#informacoesPessoais {
    margin-top: 20px;
    color: white;
    width: auto;
}

#informacoesPessoais img{
    padding: 5px;
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
}

#informacoesPessoais p{
    font-size: 12px;
    text-align: center;
    vertical-align: top;
}

#informacoesPessoais p, img{
    display: inline-block;
    font-size: 16px;
    padding: 5px;
}

#umPoucoDeMim{
    margin: 20px;
}

#umPoucoDeMim h1{
    font-size: 40px;
}

#umPoucoDeMim p{
    font-size: 18px;
}

@font-face {
    font-family : "'Abel'";
    font-style : normal;
    font-weight : 400;
    src : local('Abel'), local('Abel-Regular'), url(https://fonts.gstatic.com/s/abel/v6/N59kklKPso9WzbZH9jwJSg.ttf) format('truetype');
}
    
body {
    background-color:white;
    font-family : "'Abel'";
}

body::-webkit-scrollbar-track{
    background-color: #f9f0d3;
}

body::-webkit-scrollbar{
    width: 1%;
}

body::-webkit-scrollbar-thumb{
    background-color: #f9f0d3; 
    border-left: 2px solid #454545;
}

ul li { 
    list-style:none;
}

#linha-do-tempo {
    position: relative;
    max-width: 1024px;
    height: auto;
    padding: 0px;
    margin: 0px auto;
    overflow: hidden;
}


.marcador {
    width: 50%;float: left;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-right: 2px dashed rgb(173, 45, 66);
    box-sizing: border-box;
}

.ano {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 3px;
    color: #f0f0f0;
    background-color: rgb(173, 45, 66);
    background-image: -webkit-linear-gradient(140deg,
    rgba(255, 255, 255, .2) 50%,
    transparent 50%,
    transparent);
    text-align: center;
    margin-top:  7%;
    margin: 1% auto;
    clear: both;
}

.item {
      width: 44%;
      margin: 4% 0.5%;
      padding: 1%;
      float: right;
}

.item:nth-of-type(2n) {
      float: left; 
       margin: 4% 0.5%;
      padding: 1%;
}

.item p {
      color:rgb(66, 65, 60);
      text-align: center;
}

.item p a {
    color: #e44b4b;
    text-align: center;
}

.footer ul{
    color: white;
}
